@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:300');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	color: #202549;
}
section {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #202549;
}
footer {
	padding-top: 1em;
	background: #202549;
	text-align: center;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	margin-bottom: 1em;
	
}
h2 {
	font-family: 'roboto', sans-serif;
	font-size: 0.9em;
	margin-bottom: 1em;
	color: #202549;

}

h3 {
	color: grey;
	font-size: 0.7em;
}

header {
	background: #202549;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 1em;
}
header img {
	float: left;

}

/* NAVIGATION */
.navpanel {
	float:right;
	text-align:right;
}

header a {
	color: #98c23a;
	padding: .5em;
	display: inline-block;
}
nav a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
}

header a:hover {
	color: #98c23a;
}



/* For ID  Use*/

#madesimple {
	color: #99cc33;
	border-bottom: 4px soild black;
	
}

#freetrial {
	color: #99cc33;
}



#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

#logo {
	background-color: #202549;
	padding-bottom: 10px;
	padding-top: 10px;
}
.headerCopy {
    font-size: 1.5em;
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}

#darkFont {
	color: #202549;
	font-family: "Quicksand", sans-serif;
	font-size: 1.5em;
	text-align: center;
}
/* For Class  Use*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.column {
	float:left;
	width: 25%;
	padding: 20px;
}

.column-50 {
	float: left;
	width: 50%;
	padding: 20px;
}

.column-50 img {
	width: 100%;
}

.paragraph {
	display:block;
	clear: both;
	padding-top: 30px;
	width: 70%
	text-align: center;
	;

}
.cta {
	display:inline-block;
	font-size: 0.8em;
	background: #99cc33;
	color:#fff;
	text-decoration:none;
	padding: 0.5em 1em;
	border-radius: .25em;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	margin-bottom: 2em;
}
.cta2 {
	display:inline-block;
	font-size: 0.8em;
	background: #202549;
	color:#fff;
	text-decoration:none;
	padding: 0.5em 1em;
	border-radius: .25em;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	margin-right: 3em;
}

/* OUR USERS LOGOS */
.ourusers {
	width: 51%;
}



/* AWARD PANEL */
.award {
	background-color: #202549;
	color: #fff;
	text-align: center;
	padding: 2em 0 2em 0;
}
.award h2 {
	font-family: "Quicksand", sans-serif;
	font-size: 1.5em;
	color: #fff;
}
.quote {
	width: 70%;
	margin: 0 auto;
}
.quote img {
	float: left;
	margin: 0 20px 20px 0;	
}
.quote p {
	float: left;
	width: 80%;
}

.icon {
	max-width: 60px;
}

.icon2 {
	max-width: 30px;
	margin: 0px 10px 0px 10px;
}

/* For the Quote"


/* For Media Queries */
@media only screen and (max-width: 768px) {
	.column2, .clearfix {
		float:none;
		width:auto;
	}

	h1, h2 {
		text-align: center;
		font-size: 0.9em;
		margin-bottom: 1em;
		color: #202549;
	}

	nav a {
		display: block;
		text-align: center;
		margin:0;
	}

}

@media only screen and (max-width: 480px) {

	section { width:95%;
	 }
	 .column {
	 	display: none;
	 }
	 .icon {
	 	text-align: centre;
	 }
	 .cta2 {
	 	text-align: centre;
	 }

	 nav a {
	 	display: block;
	 	text-align: center;
	 }
}