body
h1 {
	font-family: 'Roboto', sans-serif; color: #20254b; font-weight: 300;
}
p {
	font-family: 'Roboto', sans-serif; color: #20254b; font-weight: 300;
}
ul {
	text-align: center;
	list-style-type: none;
	font-family: 'Roboto', sans-serif; color: #20254b; font-weight: 300;
}
li
img
#company {
	font-family: 'Quicksand', sans-serif; color: #99c23b; font-weight: 700;
}
.imtro {
	font-family: 'Roboto', sans-serif; color: #20254b; font-weight: 300;
}